{% load i18n %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
    {% include "baseheader.html"%}
    {{ wizard.form.media }}
    </head>
    
<body>
<div style="background:#2d2d2d;">
    <div class="container footerdiv">
        
        </div>

</div>
    
 
<div style="background:#f2f2f2;">
    <div class="container contentdiv">



        <div class="row">
            <div class="span12">
                <h3>{{ wizard.form.title }} (Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }})</h3>
                <form action="" method="post">{% csrf_token %}
{% if wizard.steps.prev %}
                <button class="btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "First Step" %}</button>
                <button class="btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Previous Step" %}</button>
                {% endif %}
                {% if wizard.steps.next %}
                <input class="btn" type="submit" value="{% trans "Next Step" %}"/>
                {% else %}
                <input class="btn" type="submit" value="{% trans "Get Results!" %}"/>
                {% endif %}
               <br />
                {{ wizard.management_form }}
                <h4 id="gardens_and_trees" style="display:none">Gardens / Trees</h4>
                <table class="table table-striped">                                
                    {% for field in wizard.form %}
                        {% if ", Gardens / Trees," in field.label_tag %}
                        <script>document.getElementById("gardens_and_trees").style.display="block";</script>
                        <tr><td>{{ field.label_tag }}</td><td>{{ field.errors }}{{ field }}</td></tr>
                        {% endif %}
                    {% endfor %}
                </table>

                <h4 id="lawns_and_turf" style="display:none">Lawns / Turf</h4>
                <table class="table table-striped">                                
                    {% for field in wizard.form %}
                        {% if ", Lawns / Turf," in field.label_tag %}
                        <script>document.getElementById("lawns_and_turf").style.display="block";</script>
                        <tr><td>{{ field.label_tag }}</td><td>{{ field.errors }}{{ field }}</td></tr>
                        {% endif %}
                    {% endfor %}
                </table>


                <h4 id="paints_and_preservatives" style="display:none">Paints / Preservatives</h4>
                <table class="table table-striped">                                
                    {% for field in wizard.form %}
                        {% if ", Paints / Preservatives," in field.label_tag %}
                        <script>document.getElementById("paints_and_preservatives").style.display="block";</script>
                        <tr><td>{{ field.label_tag }}</td><td>{{ field.errors }}{{ field }}</td></tr>
                        {% endif %}
                    {% endfor %}
                </table>

                <h4 id="indoor" style="display:none">Indoor Environment</h4>
                <table class="table table-striped">                                
                    {% for field in wizard.form %}
                        {% if ", Indoor Environment," in field.label_tag %}
                        <script>document.getElementById("indoor").style.display="block";</script>
                        <tr><td>{{ field.label_tag }}</td><td>{{ field.errors }}{{ field }}</td></tr>
                        {% endif %}
                    {% endfor %}
                </table>

                <h4 id="insect" style="display:none">Insect Repellent</h4>
                <table class="table table-striped">                                
                    {% for field in wizard.form %}
                        {% if ", Insect Repellent," in field.label_tag %}
                        <script>document.getElementById("insect").style.display="block";</script>
                        <tr><td>{{ field.label_tag }}</td><td>{{ field.errors }}{{ field }}</td></tr>
                        {% endif %}
                    {% endfor %}
                </table>
                <h4 id="pets" style="display:none">Treated Pets</h4>
                <table class="table table-striped">                                
                    {% for field in wizard.form %}
                        {% if ", Treated Pets," in field.label_tag %}
                        <script>document.getElementById("pets").style.display="block";</script>
                        <tr><td>{{ field.label_tag }}</td><td>{{ field.errors }}{{ field }}</td></tr>
                        {% endif %}
                    {% endfor %}
                </table>

                

                {% if wizard.steps.prev %}
                <button class="btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "First Step" %}</button>
                <button class="btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Previous Step" %}</button>
                {% endif %}
                {% if wizard.steps.next %}
                <input class="btn" type="submit" value="{% trans "Next Step" %}"/>
                {% else %}
                <br />
                <input class="btn" type="submit" value="{% trans "Get Results!" %}"/>
                {% endif %}
                </form>
            </div>
        </div>
    
    </div>
</div>
    {% include "basefooter.html" %}

<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

  
</body>
</html>

