{% load i18n %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
    {% include "baseheader.html"%}
    {{ wizard.form.media }}
    </head>
    
<body>
<div style="background:#2d2d2d;">
    <div class="container footerdiv">
        
        </div>

</div>
    
 
<div style="background:#f2f2f2;">
    <div class="container contentdiv">



        <div class="row">
            <div class="span12">
                <h3>Toxicological Information</h3>
                <form action="" method="post">{% csrf_token %}
                <table class="table table-striped">
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% for form in wizard.form.forms %}
                        {{ form }}
                    {% endfor %}
                {% else %}
                    {{ wizard.form }}
                {% endif %}

                </table>
                {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
                {% endif %}
                {% if wizard.steps.next %}
                <input type="submit" value="{% trans "next step" %}"/>
                {% else %}
                <input type="submit" value="{% trans "submit" %}"/>
                {% endif %}
                </form>
            </div>
        </div>
    
    </div>
</div>
    {% include "basefooter.html" %}

<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

  
</body>
</html>




{% block content %}

{% endblock %}

